<!DOCTYPE html>
<html>

<head>
    <title>All Members</title>
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <h1>All Registered Members</h1>
    <table border="1" cellpadding="5">
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Present Address</th>
            <th>Native Address</th>
            <th>Home Parish</th>
            <th>Home Diocese</th>
            <th>Blood Group</th>
            <th>Google Map</th>
            <th>Membership No</th>
            <th>Membership</th>
            <th>Family Picture</th>
            <th>Profile Picture</th>
        </tr>
         <% members.forEach(member => { %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.number %></td>
      <td><%= member.email %></td>
      <td><%= member.address1 %></td>
      <td><%= member.address2 %></td>
      <td><%= member.homeParish %></td>
      <td><%= member.homeDiocese %></td>
      <td><%= member.bloodGroup %></td>
      <td><%= member.googleMap %></td>
      <td><%= member.membershipNo %></td>
      <td><%= member.membership %></td>
      <td>
        <% if (member.familyPicture) { %>
          <img src="/uploads/<%= member.familyPicture %>" width="50">

        <% } %>
      </td>
      <td>
        <% if (member.profilePicture) { %>
          <img src="/uploads/<%= member.profilePicture %>" width="50">
        <% } %>
      </td>
    </tr>
    <% }) %>
    </table>

    <br>
    <a href="/index">Back to Form</a>
</body>

</html>